body{
    background-color: #F5F5F5;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.con-left{
    background-color: #E5E5E5;
}

.con-right{
    background-color: #FFF;
}

.left_tit{
    font-size: 14px;
    color: #888;
    margin-top: 9px;
}

.left_part1{
    margin-top: 15px;
}
.con-left hr{
    border-color:#bbb;
    border-style:dotted;
    margin: 10px 0 20px 0;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.height_100per{
    min-height: 540px;
    height: 100%;
}
html,body{
    min-height: 540px;
    height: 100%;
}
.left2_time{
    margin-top: 5px;
}

.left2_button{
    min-width: 100%
}

.left2_button_bg{
    background-color: #F5F5F5;
}
.left3_active{
    font-size: 14px;
    color: #d86838;
    font-weight: bolder;
}

.right_part1{
    margin-top: 15px;
}

.right_part1 h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.right_part2_2{
    margin-top: 10px;
    font-size: 13px;
    color:#999999;
}
.web-name{
    margin-top:-1px;
    border:1px solid #ddd;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    color: #666;
}

.web-name:hover{
    background-color: #F5F5F5;
}

.right3{
    margin-top: 15px;
    margin-bottom: 30px;
}
.trash{
    color:orangered;
    margin-top: 18px;
    margin-right: 15px;
    font-size: 10px;
    cursor: pointer;
}

.margin-20{
    margin-left: -20px;
}

.fs10{
    font-size: 11px;
}
.refresh-level {
    padding-top: 8px;
    padding-right: 30px;
    font-size: 10px;
    color: #999;
    cursor: pointer;
}

.refresh-level:hover{
    color:#333;
}
.tishi{
    font-size: 11px;
    color:#c12e2a;
}

.tuijianinput{
    width: 3px;height: 3px; border:none; color:#FFF; outline: none;
}
.shake{
    position: relative;
    -webkit-animation: shake 2s 0.5s 2 linear;
}
@-webkit-keyframes shake {
    50%{
        left:0;
    }
    55% {
        left: -3%;
    }
    60% {
        left:3%;
    }
    65%{
        left:-3%;
    }
    70%{
        left:3%;
    }
    75% {
        left: -3%;
    }
    80% {
        left:3%;
    }
    85%{
        left:-3%;
    }
    90%{
        left:3%;
    }
    95%{
        left:-3%;
    }
    100%{
        left:0;
    }
}
