<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/option.css" rel="stylesheet">
</head>

<body>
    <div id="option" class="container height_100per">
        <div class="row height_100per">
            <!--左侧部分 Start-->
            <div class="col-md-3 con-left height_100per">
                <div class="left_part1 container-fluid">
                    <div class="left_tit pull-left"><b>{{name}}</b> <small>{{version}}</small></div>
                </div>
                <div class="container-fluid">
                    <hr />
                </div>
                <div class="container-fluid">
                    <div class="list-group">
                        <a @click="changeDiv('main')" :class="showDiv=='main' ? 'active':''" class="list-group-item">首页</a>
                        <a @click="changeDiv('instructions')" :class="showDiv=='instructions' ? 'active':''" target="_blank" class="list-group-item">无法使用？</a>
                        <a @click="changeDiv('touch')" :class="showDiv=='touch' ? 'active':''" target="_blank" class="list-group-item">关于扩展</a>
                    </div>
                </div>
            </div>
            <!--左侧部分 End-->

            <!--右侧部分 Start-->
            <div class="col-md-9 con-right height_100per" style="overflow-y:scroll">
                <div class="left_part1" v-show="showDiv == 'main'">

                    <div class="container-fluid">
                        <div v-show="true" class="alert alert-info text-center" role="alert">设置添加的Header的Key和Value</div>
                    </div>

                    <div class="container-fluid right_part2" style="margin-bottom: 15px">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" v-model="privateKey" id="domainAdd" placeholder="请输入Key">

                                    <div class="input-group-btn">
                                        <input type="submit" value="Key" class="btn btn-success">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" v-model="privateValue" id="domainAdd" placeholder="请输入Value">

                                    <div class="input-group-btn">
                                        <input type="submit" value="Value" class="btn btn-success">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <input type="submit" value="设置" class="btn btn-warning modaldefault" data-toggle="modal" data-target="#setKeyValue">
                            </div>
                        </div>
                    </div>


                    <div class="container-fluid">
                        <div v-show="true" class="alert alert-info text-center" role="alert">将需要私有访问的页面添加到这里, 对以下页面进行私有访问</div>
                        <div v-show="isShow == true" class="alert alert-danger text-center" role="alert"><b>您输入的页面地址不合法!</div>
                        <div v-show="isSuccess == true" class="alert alert-success text-center" role="alert"><b>操作成功!</b></div>
                    </div>



                    <!--右2部分:添加表单-->
                    <!--<div class="container-fluid right_part2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="domainAdd" placeholder="请输入页面地址，按回车添加">

                                    <div class="input-group-btn">
                                        <input type="submit" value="添加页面" class="btn btn-success" webmanageradd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="container-fluid right_part2_2">
                        <span>在访问下面的页面时,扩展会添加认证的头部来通过验证<span>
                    </div>

                    <div class="container-fluid right3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page" v-for="page,index in pageList" :key="page">
                                        <div class="web-name" data-toggle="collapse" :data-target="'#'+index" aria-expanded="false" :aria-controls="page" >
                                                <a :href="page" :title="page" target="_blank">{{ page }}</a>
                                                <span class="pull-right glyphicon glyphicon-trash trash" @click="removePage(page)"></span>
                    </div>
                    <div class="collapse" :id="index">
                        <div class="well">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Key
                                    </span>
                                    <input type="text" :id="'key'+index" :value="configList[page].key" class="form-control" aria-label="...">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        Value
                                    </span>
                                    <input type="text" :id="'value'+index" :value="configList[page].value" class="form-control" aria-label="...">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateKV" @click="updatePage(page,index)">
                                    更新
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
    <!-- left_part1 -->
    <!-- left_part2 start-->
    <div class="left_part2" v-show="showDiv=='instructions'">
        <!-- <div class="container-fluid">
            <div v-show="true" class="alert alert-info text-center" role="alert">原理说明</div>
        </div> -->

        <div class="container-fluid right_part2" style="margin-bottom: 15px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h1>说明 <small>about privatepage</small></h1>
                    </div>
                    <p>
                        1. HTTP Response header <br>
                        <div class="alert alert-info text-center" role="alert">HTTP中文名为超文本传输协议, 在请求一个页面时， 会附带一些头部信息，就是 HTTP Response header, 通常浏览器会自动设置一些header。 其中比较出名的为 UserAgent , 服务器可以通过该字段判断，用户的浏览器类型。 除此之外，header中还能读取到各种相关信息， 通常访问网页是，用户并不用关心header。</div>
                    </p>

                    <p>
                        2. 服务器验证 <br>
                        <div class="alert alert-info text-center" role="alert">当前后台服务语言，百花齐放，但是HTTP协议是不变的， 可以加入同样的检测逻辑。</div>
                    </p>

                    <p>
                        3. PrivatePage 原理 <br>
                        <div class="alert alert-info text-center" role="alert">在后台服务器语言中， 添加一个Header验证。PrivatePage 会在请求的时候，自动附加这个Header，以通过验证. 而正常浏览器和扫描工具都不会添加header的。所以，正常情况下，页面都不能打开页面，只有使用扩展的时候， 或者自己编程，添加该header后，才能正常显示。</div>
                    </p>
                    <p>
                        后端怎么检测？
                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#php" aria-expanded="true" aria-controls="php">
                                PHP Example
                              </a>

                        <div class="collapse" id="php">
                            <p>{{phpCode}}</p>
                        </div>
                    </p>


                </div>
            </div>
        </div>
    </div>
    <!-- left_part2 end-->
    <!-- left_part3 start-->
    <div class="left_part3" v-show="showDiv=='touch'">
        <!-- <div class="container-fluid">
            <div v-show="true" class="alert alert-info text-center" role="alert">原理说明</div>
        </div> -->

        <div class="container-fluid right_part3" style="margin-bottom: 15px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h2>Github <small>source code</small></h2>
                    </div>
                    <p>
                        <a href="https://github.com/ctwj/PrivatePage" target="_blank" title="源码">https://github.com/ctwj/PrivatePage</a>
                    </p>
                    <div class="page-header">
                        <h2>官网 <small></small></h2>
                    </div>
                    <p>
                        <a href="https://www.safecode.cc" target="_blank" title="源码">https://www.safecode.cc</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- left_part3 end-->
    </div>
    <!-- con-right -->
    <!-- <div class="">
        <div class="container-fluid right_part1">

            <div class="row">
                <div class="container-fluid">
                    <hr />
                </div>
                <div class="col-md-12" style="line-height: 35px; margin-top:20px;">
                    <b style="font-size: 16px;">分享到社交网络：</b><br/>
                    <textarea id="shareContent" rows="2" style=" width:100%;border: 1px solid #cccccc;padding:10px; color:#666;">{{fenxiang}}</textarea>
                    <br/>
                    <b>分享:</b>
                    <a class="btn  btn-danger" style="margin-left: 10px;" target="_blank" href="http://service.weibo.com/share/share.php?title={{fenxiang_encode}}">分享到新浪微博</a>
                    <a class="btn  btn-danger" style="margin-left: 10px;" target="_blank" href="http://shuo.douban.com/!service/share?href=http://{{websiteurl}}/?r%3D{{emailshow}}&name={{fenxiang_encode}}">分享到豆瓣</a>
                    <a class="btn  btn-danger" style="margin-left: 10px;" target="_blank" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://{{websiteurl}}/?r%3D{{emailshow}}&title={{fenxiang_encode}}">分享到QQ空间</a>
                    <a class="btn  btn-danger" style="margin-left: 10px;" target="_blank" href="http://share.v.t.qq.com/index.php?c=share&amp;a=index&amp;url=http://{{websiteurl}}/?r%3D{{emailshow}}&amp;title={{fenxiang_encode}}">分享到腾讯微博</a>
                    <a class="btn  btn-danger" style="margin-left: 10px;" target="_blank" href="http://widget.renren.com/dialog/share?url=http://{{websiteurl}}/?r%3D{{emailshow}}&amp;title={{fenxiang_encode}}&amp;pic=http://{{websiteurl}}/index/views/default/ued/images/domecross/logos/logo.png&amp;description=悄悄的访问自己的页面！">分享到人人网</a>
                </div>
            </div>

        </div>
    </div> -->
    <!--确认恢复系统默认-->
    <div class="modal fade " id="setKeyValue" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </button>
                    <h4 class="modal-title" id="exampleModalLabel">操作确认</h4>
                </div>
                <div class="modal-body">
                    确认要设置Key和Value吗?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="setKeyValue">确认修改</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除Page-->
    <div class="modal fade " id="removePage" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">操作确认</h4>
                </div>
                <div class="modal-body">
                    是否要删除页面<strong>{{ tmpPage }}</strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @click="removePage1">确认删除</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateKV" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>更新成功！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    </div>
    <!--右侧部分 End-->


    </div>
    </div>


    <script src="lib/jquery/jquery-1.12.2.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/md5.js"></script>
    <script src="lib/highlight.min.js"></script>
    <script src="lib/vue.js"></script>
    <script src="js/option.js"></script>
</body>

</html>